
/*---- SECCIÓN GENERAL ----*/
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #343a40;
}

/*---- SECCIÓN NAV ----*/

nav {
    background-color: #f8f9fa;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 1.6rem;
    text-decoration: none;
}

nav ul{
    display: flex;
    font-size: 1.2em;
    list-style-type: none;
    gap: 20px;
}

nav button{
    display: none;
    margin: 0 15px;
    background-color: none;
    border: none;
}

nav ul .a-home {
   text-decoration-color: #007bff;
   text-decoration-thickness: 3px;
   text-underline-offset: 20px;
}

nav ul .a-about {
   text-decoration-color: #32cd32;
   text-decoration-thickness: 3px;
   text-underline-offset: 20px;
}

nav ul .a-services {
   text-decoration-color: #8a2be2;
   text-decoration-thickness: 3px;
   text-underline-offset: 20px;
}

nav ul .a-contact {
   text-decoration-color: #ffd747;
   text-decoration-thickness: 3px;
   text-underline-offset: 20px;
}

nav ul a:hover{
    font-weight: bold;
    text-decoration-color: #007bff;
}

/*---- SECCIÓN CTA-CONTAINER ----*/
.cta-container{
    background-color: #e9ecef;
    padding-top: 110px;
    text-align: center;
    padding-bottom: 110px;
}

.cta-container h1{
    font-size: 2.2em;
}

.cta-container p{
    width: 550px;
    font-weight: bold;
    font-size: 1.2em;
    margin: auto;
}

/*---- SECCIÓN SERVICES-CONTAINER  ----*/
.services-container {
    background-color: #f1f3f5;
    padding-top: 34px;
    padding-bottom: 34px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services-container div{
    width: 30%;
}

.services-container-icon {
    font-size: 2em;
    margin: auto;
    padding-bottom: 12px;
}

.services-container p{
    padding-top: 8px;
}

/*---- SECCIÓN CONTACT-CONTAINER ----*/
.contact-container {
    background-color: #f8f9fa;
    padding-bottom: 60px;
    text-align: center;
}

.contact-container h2{
    padding-top: 20px;
    padding-bottom: 15px;
}

.contact-container label{
    display: grid;
    grid-template-columns: 1fr;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding-left: 422px;
}

.contact-container input, textarea{
    background-color: #f1f3f5;
    padding-left: 200px;
}
.contact-container form input:hover{
    border-bottom-color: #007bff;
    border-width: 4px;
}

.contact-container form textarea:hover{
    border-bottom-color: #007bff;
    border-width: 4px;
}

.contact-container .name{
    width: 500px;
    height: 30px;
    text-decoration-line:underline ;
    border-top: none;
    border-right: none ;
    border-left: none ;
    border-bottom-color: #32cd32;
    border-width: 4px;
    margin-bottom: 10px;
}

.contact-container .email{
    width: 500px;
    height: 30px;
    text-decoration-line:underline ;
    border-top: none;
    border-right: none ;
    border-left: none ;
    border-bottom-color: #8a2be2;
    border-width: 4px;
    margin-bottom: 10px;
}

.contact-container .message{
    width: 500px;
    height: 80px;
    text-decoration-line:underline ;
    border-top: none;
    border-right: none ;
    border-left: none ;
    border-bottom-color: #ffd747;
    border-width: 4px;
    margin-bottom: 10px;
}

.contact-container textarea{
    width: 500px;
    height: 30px;
}

.contact-container button{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 30px;
    align-items: center;
    background-color:  #007bff;
    color:  white;
    margin-top: 10px;
    cursor: pointer;
}

.contact-container button:hover{
    background-color: #343a40;
}

/*---- SECCIÓN FOOTER ----*/
footer{
    background-color: #f1f3f5;
    padding: 20px;
    text-align: center;
}

footer h3, small{
    font-weight: bold;
}

footer a{
    text-decoration: none;
    font-size: 2em;
}

/*----- MEDIA QUERYS ----- */
@media (max-width: 800px){
    nav ul{
        display: none;
    }

    nav button{
        display: block;
    }

    .services-container{
        flex-direction: column;
    }

    .services-container div{
        width: 100%;
    }
}