* {
    margin: 0 0;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
    grid-auto-flow: dense;
}

@media (min-width: 600px) {
    .wide {
    grid-column: span 2;
    }

    .tall{
    grid-row: span 2;
    }
}

